div{
  position: absolute;
}

.color-face {
  background: #DABCA1;
}

.face {
  border-radius: 30px;
  width: 85px;
  height: 70px;
  top: 70px;
  left: 200px;
  border-radius: 20%
}

/* CHIN */

.chin {
  border-radius: 7px;
  width: 60px;
  height: 74px;
  left: 212px;
  top: 85px;
  border-radius: 30%;
}

.chin-left {
  border-radius: 7px;
  transform: rotate(30deg);
  width: 30px;
  height: 23px;
  left: 205px;
  top: 132px;
  border-radius: 30%;
}

.chin-right {
  border-radius: 7px;
  transform: rotate(156deg);
  width: 40px;
  height: 28px;
  left: 240px;
  top: 128px;
  border-radius: 30%;
}

.chin-bottom {
  border-radius: 7px;
  transform: rotate(90deg);
  width: 8px;
  height: 22px;
  left: 238px;
  top: 147px;
  border-radius: 40%;
}

/* HAIR */

.color-hair {
  background: #292021;
}

.top-hair {
  width: 93px;
  height: 26px;
  top: 56px;
  left: 194px;
  border-radius: 65%;
}

.right-hair-main {
  border-radius: 24px;
  width: 20px;
  height: 143px;
  top: 67px;
  left: 188px;
  border-radius: 35%;
}

.left-hair-main {
  border-radius: 24px;
  width: 20px;
  height: 143px;
  top: 67px;
  left: 273px;
  border-radius: 35%;
}

.left-hair-corner {
  border-radius: 7px;
  transform: rotate(169deg);
  width: 78.3px;
  height: 16px;
  left: 192px;
  top: 64px;
}

.right-hair-corner {
  border-radius: 7px;
  transform: rotate(60deg);
  width: 32.3px;
  height: 10px;
  left: 263px;
  top: 70px;
}

.color-glass {
  background: #2B1716;
}

.color-glass-b {
  background: #F7DCD1;
}

.glass-ear-left {
  width: 14px;
  height: 7.2px;
  top: 103px;
  left: 200px;
  z-index: 2;
}

.glass-left-l {
  border-radius: 7px;
  width: 4px;
  height: 20px;
  top: 98px;
  left: 214px;
}

.glass-left-top {
  border-radius: 7px;
  width: 20px;
  height: 4px;
  top: 98px;
  left: 214px;
  z-index: 3;
}

.glass-left-r {
  border-radius: 7px;
  width: 4px;
  height: 20px;
  top: 98px;
  left: 231px;
  z-index: 2;
}

.glass-left-b {
  border-radius: 7px;
  width: 20px;
  height: 4px;
  top: 114px;
  left: 214px;
}

.glass-ear-right {
  width: 14px;
  height: 7.2px;
  top: 103px;
  left: 268px;
}

.glass-right-l {
  border-radius: 7px;
  width: 4px;
  height: 20px;
  top: 98px;
  left: 248px;
  z-index: 2;
}

.glass-right-top {
  border-radius: 7px;
  width: 20px;
  height: 4px;
  top: 98px;
  left: 248px;
  z-index: 3;
}

.glass-right-r {
  border-radius: 7px;
  width: 4px;
  height: 20px;
  top: 98px;
  left: 264px;
}

.glass-right-b {
  border-radius: 7px;
  width: 20px;
  height: 4px;
  top: 114px;
  left: 248px;
}

.glass-nose {
  width: 15px;
  height: 4px;
  top: 105px;
  left: 233px;
  z-index: 3;
}

/* EAR */

.left-ear {
  border-radius: 8px;
  width: 12px;
  height: 28px;
  top: 105px;
  left: 196px;
  z-index: 2;
}

.right-ear {
  border-radius: 20px;
  width: 6px;
  height: 20px;
  top: 108px;
  left: 273px;
  z-index: 2;
}

/* EYEBROWS */

.br-color{
  background: #523a22;
}

.right-brow1 {
  width: 20px;
  height: 5px;
  top: 91px;
  left: 215px;
}

.right-brow2 {
  width: 9px;
  height: 5px;
  top: 92px;
  left: 211px;
}

.left-brow1 {
  width: 22px;
  height: 5px;
  top: 91px;
  left: 246px;
}

.left-brow2 {
  width: 9px;
  height: 5px;
  top: 92px;
  left: 263px;
}

/*NOSE*/

.nose-color {
  background: #bfa288;
}

.n1 {
  width: 9px;
  height: 17px;
  top: 101px;
  left: 237px;
}

.n2 {
  width: 11px;
  height: 6px;
  top: 117px;
  left: 236px;
}

.n3 {
  width: 14px;
  height: 4px;
  top: 120px;
  left: 234.5px;
}

/* MOUTH */

.mouth-color{
  background: #d29985;
}

.smile {
  width: 30px;
  height: 6px;
  transform: rotate(180deg);
  position: absolute;
  top: 139px;
  left: 226px;
  border: solid 1px #000;
  border-radius: 80%/10px 10px 0 0;
  z-index: 3;
}
